<head>
<style type="text/css">
.pos {position:absolute; margin-top:210px; margin-left:50px;}
</style>
</head>
<h1 align="center">Edit chart to Reserve Seat</h1>
<hr></hr>
<%= render 'form' %>
<div class="pos">
<%= link_to 'Show', @chart %> |
<%= link_to 'Back', charts_path %>
</div>
